!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %title Jeffrey Jurgajtis
    %link{ href: 'styles/toast.css', rel: 'stylesheet', type: 'text/css' }/
    %link{ href: 'styles/typicons.min.css', rel: 'stylesheet', type: 'text/css' }/
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1' }
    %script{ src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' }
  %body
    .container#about
      .block.main
        .photo
        %h1
          I'm Jeffrey Jurgajtis
          %span.ampersand &amp;
          I'm a software developer.

        .grid
          .unit.span-grid
            %p.intro
              I enjoy solving business problems with software and learning about new web technologies. I've worked with talented teams including
              = succeed ',' do
                %a{ href: 'http://www.vermonster.com/' } Vermonster
              = succeed ',' do
                %a{ href: 'http://rolemodelsoftware.com/' } RoleModel Software
              and
              %a{ href: 'http://www.grok-interactive.com/' } Grok Interactive
              to develop web applications using Ruby, Rails, and Javascript.

          .unit.span-grid.contact
            %a{ href: 'mailto:jeffreyjurgajtis@gmail.com'}
              %i.typcn.typcn-mail
            %a{ href: 'https://github.com/jeffreyjurgajtis'}
              %i.typcn.typcn-social-github
            %a{ href: 'http://www.linkedin.com/pub/jeffrey-jurgajtis/58/695/aa7'}
              %i.typcn.typcn-social-linkedin
            %a{ href: 'https://twitter.com/jeffjurgajtis'}
              %i.typcn.typcn-social-twitter

      .page-scroll
        %p recent projects
        %a{ href: '#projects' }
          %i.typcn.typcn-arrow-sorted-down

    .container#projects
      .block
        .grid
          .unit.span-grid
            %h2 Navigate
            %p.description Lead developer on a data-driven Rails / Backbone.js application aimed at helping college students decide on a career path.
            .screenshot.navigate

          .unit.span-grid
            %h2 Clear Value Plus
            %p.description Software developer on a cancer decision support system for Congruent Systems, a health-IT startup recently acquired by McKesson.
            .screenshot.clearvalueplus

          .unit.span-grid
            %h2 SpeedyPrep
            %p.description
              Developed a subscription-based payment system with Stripe for
              %a.dark{ href: 'http://www.speedyprep.com/' } SpeedyPrep,
              an online exam prep application built with Rails / Backbone.js.
            .screenshot.speedyprep

      .page-scroll
        %a{ href: '#about' }
          %i.typcn.typcn-arrow-sorted-up

  :javascript
    $('.page-scroll a').click(function(){
      $('html, body').animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
      }, 500);
      return false;
    });

