!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %title Jeffrey Jurgajtis
    %link{ href: 'styles/toast.css', rel: 'stylesheet', type: 'text/css' }/
    %link{ href: 'styles/typicons.min.css', rel: 'stylesheet', type: 'text/css' }/
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1' }
    %script{ src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' }
  %body
    .container#about
      .block.main
        .photo
        %h1
          I'm Jeffrey Jurgajtis
          %span.ampersand &amp;
          I'm a software developer.

        .grid
          .unit.span-grid
            %p.intro
              I enjoy solving business problems with software and learning about new web technologies. I've worked with talented teams including
              = succeed ',' do
                %a{ href: 'http://www.vermonster.com/' } Vermonster
              = succeed ',' do
                %a{ href: 'http://rolemodelsoftware.com/' } RoleModel Software
              and
              %a{ href: 'http://www.grok-interactive.com/' } Grok Interactive
              to develop web applications using Ruby, Rails, and Javascript.

          .unit.span-grid.contact
            %a{ href: 'mailto:jeffreyjurgajtis@gmail.com'}
              %i.typcn.typcn-mail
            %a{ href: 'https://github.com/jeffreyjurgajtis'}
              %i.typcn.typcn-social-github
            %a{ href: 'http://www.linkedin.com/pub/jeffrey-jurgajtis/58/695/aa7'}
              %i.typcn.typcn-social-linkedin
            %a{ href: 'https://twitter.com/jeffjurgajtis'}
              %i.typcn.typcn-social-twitter

          .unit.span-grid.resume
            %a{ href: 'docs/jeffrey-jurgajtis.pdf', download: 'jeffrey-jurgajtis.pdf'} r&eacute;sum&eacute; (pdf)
