!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %title Jeffrey Jurgajtis
    %link{ href: 'styles/toast.css', rel: 'stylesheet', type: 'text/css' }/
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1' }
  %body
    .container.about
      .block
        %h1 Jeffrey Jurgajtis
        .grid
          .unit.one-of-four
            .photo
          .unit.three-of-four
            %p.intro
              I'm a software developer. I enjoy solving business problems with software and learning about new web technologies. I've worked with some exciting teams including
              %a{ href: 'http://www.vermonster.com/' } Vermonster
              ,
              %a{ href: 'http://rolemodelsoftware.com/' } RoleModel Software
              , and
              %a{ href: 'http://www.collegeplus.org/' } Collegeplus.
          .unit.span-grid.contact
            %a{ href: 'mailto:jeffreyjurgajtis@gmail.com'} jeffreyjurgajtis@gmail.com
            %a{ href: 'https://github.com/jeffreyjurgajtis'} github.com/jeffreyjurgajtis
            %a{ href: 'http://www.linkedin.com/pub/jeffrey-jurgajtis/58/695/aa7'} linkedin.com/jeffreyjurgajtis
            %a{ href: 'https://twitter.com/jeffjurgajtis'} @jeffjurgajtis
    .container.projects
      .block
        %h2 Projects
        %hr
        .grid
          .unit.one-of-two
            %h3 Clear Value Plus
            %p.description Software developer on a cancer decision support software system for Congruent Systems, a health-IT startup recently acquired by McKesson.
          .unit.one-of-two
            %h3 SpeedyPrep
            %p.description Developed a subscription based payment system with for SpeedyPrep, an online CLEP preparation applications built with Rails/Backbone.js.
        .grid
          .unit.one-of-two
            %h3 Flashstack
            %p.description Flashstack, an online flashcard application, was developed as a personal side-project to learn Backbone.js and Rails deployment to a VPS.
          .unit.one-of-two
            %h3 Navigate
            %p.description Software developer on a cancer decision support software system for Congruent Systems, a health-IT startup recently acquired by McKesson.
