/*-----------------------------------*\
	$TYPE
\*-----------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Lato:100,400);

p, ul, ol, hr, table, form, pre, h1, h2, {
	margin-bottom: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #FFF;
}

h1 {
	font-size: 70px;
  font-weight: 100;
	line-height: 1;
  text-transform: uppercase;
}

h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 30px;
}

h3 {
	font-size: 20px;
	font-weight: 700;
}

hr {
	border: none;
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin-top: -1px;
}

/*-----------------------------------*\
	$MAIN
\*-----------------------------------*/

html {
	font: 125%/1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 767px) {
	html {
		font-size: 100%;
	}
}

.center {
  text-align: center;
}

.intro {
  text-align: center;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.photo {
  background-image: url('../images/mist.png');
  background-size: contain;
  width: 130px;
  height: 130px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}


// @media only screen and (max-width: 767px) {
// }

