/*-----------------------------------*\
	$RESET
\*-----------------------------------*/

* {
	margin: 0;
	padding: 0;
	position: relative;
  background-color: transparent;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/*-----------------------------------*\
	$GRID
\*-----------------------------------*/

.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0;

  &.about {
    background-image: url('../images/sf3.jpg');
    background-size: cover;
    height: 540px;
    padding-top: 85px;
    padding-bottom: 20px;
  }

  &.projects {
    padding-top: 85px;
    height: 700px;
  }
}

.block {
  max-width: 900px;
  margin: 0 auto;
}

.grid {
	margin-left: -3%;
	max-width: 105%;
}

.unit {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	margin-left: 3%;
	margin-right: -.25em;
  padding-top: 20px;
	/* Clearfix */
	overflow: hidden;
	*overflow: visible;
  &.first {
    margin-left: 0;
  }
}

.span-grid { width: 97%; }
.one-of-two { width: 47% }
.one-of-three { width: 30.36%; }
.two-of-three { width: 63.666666666%; }
.one-of-four { width: 22.05%; }
.three-of-four { width: 72%; }
.one-of-five { width: 17.07%; }
.two-of-five { width: 37%; }
.three-of-five { width: 57%; }
.four-of-five { width: 77%; }

@media only screen and (max-width: 767px) {
	.grid {
		margin-left: 0;
		max-width: none;
	}

	.unit {
		width: auto;
		margin-left: 0;
		display: block;
    padding-right: 30px;
    padding-left: 30px;
	}
}

/*-----------------------------------*\
	$TYPE
\*-----------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Vollkorn:400);

p, ul, ol, hr, table, form, pre, h1, h2, h3 {
	margin-bottom: 30px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  color: #000;
}

h1 {
	font-size: 55px;
	line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
}

h2 {
	font-size: 50px;
	line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

h3 {
	font-size: 30px;
  margin-bottom: 15px;
}

p {
  &.intro {
    color: #FFF;
    margin-top: 20px;
  }
  &.description {
    color: #666;
  }
}

a {
  color: #F3F3F3;
  &:hover { color: #FFF; }
}

hr {
	border: none;
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin-top: -1px;
  margin-bottom: 40px;
}

html {
	font: 125%/1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 767px) {
	html {
		font-size: 100%;
	}
}

/*-----------------------------------*\
	$SPECIFIC
\*-----------------------------------*/

.photo {
  background-image: url('../images/jcircle.png');
  background-size: contain;
  width: 126px;
  height: 130px;
  margin-right: auto;
  margin-left: auto;
}

.contact {
  text-align: center;

  a {
    text-decoration: none;
    color: #FFF;
    font-weight: 100;
    font-size: 16px;
    margin-right: 20px;
  }
}


/*-----------------------------------*\
	$RESPONSIVE
\*-----------------------------------*/

@media only screen and (max-width: 767px) {
  .container {
    &.about {
      height: auto;
      padding-top: 30px;
    }
  }

  h1 {
    font-size: 50px;
    margin-bottom: 15px;
  }
}
