/*-----------------------------------*\
	$VARIABLES
\*-----------------------------------*/

$blue: #08C;
$grey: #393335;
$light-grey: #ECECEC;

/*-----------------------------------*\
	$RESET
\*-----------------------------------*/

* {
	margin: 0;
	padding: 0;
	position: relative;
  background-color: transparent;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/*-----------------------------------*\
	$GRID
\*-----------------------------------*/

body, html {
  height: 100%;
}

.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0;

  &#about {
    padding-top: 10px;
    height: 100%;
    min-height: 650px;
  }

  &#projects {
    padding: 100px 0;
    border-top: 1px solid $light-grey;
  }
}

.block {
  max-width: 1140px;
  margin: 0 auto;
  
  &.main {
    top: 22%;
  }
}

.grid {
	margin-left: -3%;
	max-width: 105%;
}

.unit {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	margin-left: 3%;
	margin-right: -.25em;
  padding-top: 20px;
	/* Clearfix */
	overflow: hidden;
	*overflow: visible;
  &.first {
    margin-left: 0;
  }
}

.span-grid { width: 97%; }
.one-of-two { width: 47% }
.one-of-three { width: 30.36%; }
.two-of-three { width: 63.666666666%; }
.one-of-four { width: 22.05%; }
.three-of-four { width: 72%; }
.one-of-five { width: 17.07%; }
.two-of-five { width: 37%; }
.three-of-five { width: 57%; }
.four-of-five { width: 77%; }

@media only screen and (max-width: 767px) {
	.grid {
		margin-left: 0;
		max-width: none;
	}

	.unit {
		width: auto;
		margin-left: 0;
		display: block;
    padding-right: 30px;
    padding-left: 30px;
	}
}

/*-----------------------------------*\
	$TYPE
\*-----------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display);

p, ul, ol, hr, table, form, pre, h1, h2, h3 {
	margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: $grey;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
	font-size: 38px;
	line-height: 1;
  text-align: center;
  margin: 0;
}

h2 {
	font-size: 35px;
	line-height: 30px;
  text-align: center;
}

p {
  font-size: 17px;

  &.intro {
    margin-bottom: 0;
  }

  &.description {
    font-size: 17px;
  }
}

a {
  text-decoration: none;
  transition: color 0.2s ease;
  color: $grey;

  &:hover {
    color: $blue;
  }
}

html {
	font: 125%/1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 767px) {
	html {
		font-size: 100%;
	}
}

/*-----------------------------------*\
	$SPECIFIC
\*-----------------------------------*/

span.ampersand {
  font-family: 'Playfair Display', serif;
  color: $blue;
}

.contact {
  text-align: center;

  a {
    margin-right: 5px;
    text-decoration: none;

    i {
      transition: color 0.2s ease;
      font-size: 32px;

      &:hover {
        color: $blue;
      }
    }
  }
}

div.page-scroll {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;

  p {
    margin: 0 auto -15px;
  }

  a {
    text-decoration: none;

    i {
      transition: color 0.2s ease;
      font-size: 40px;
      color: $grey;

      &:hover {
        color: $blue;
      }
    }
  }
}

div.screenshot {
  height: 300px;
  width: 600px;
  margin: 0 auto 40px;
  border-radius: 3px;
  background-size: cover;
  border: 1px solid $light-grey;

  &.navigate {
    background-image: url('../images/navigate.jpg');
  }

  &.clearvalueplus {
    background-image: url('../images/clearvalueplus.png');
  }

  &.speedyprep {
    background-image: url('../images/speedyprep.jpg');
  }
}

div.photo {
  background-color: #EEE;
  background-image: url('../images/jeffreyj.jpg');
  background-size: cover;
  width: 135px;
  height: 135px;
  margin: 0 auto 20px;
  border-radius: 50%;
}

/*-----------------------------------*\
	$RESPONSIVE
\*-----------------------------------*/

@media only screen and (max-width: 767px) {
  .container {
    &#about {
      padding: 60px 0;
      min-height: 500px;
      height: auto;
    }

    &#projects {
      padding-top: 60px;
    }
  }

  .block {
    .main {
      top: 0;
    }
  }

  h1, h2, p {
    padding-left: 0;
    padding-right: 0;
  }

  h1 {
    font-size: 27px;
    margin-bottom: 15px;

    span.ampersand {
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  h2 {
    font-size: 27px;
  }

  .page-scroll {
    display: none;
  }
}
